In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Import Database
df = pd.read_csv('scrubbed.csv')

#Value Count of Cities
df.city.value_counts()

c:\users\emily\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

seattle                                           525
phoenix                                           454
portland                                          374
las vegas                                         368
los angeles                                       353
san diego                                         338
houston                                           297
chicago                                           265
tucson                                            241
miami                                             239
orlando                                           220
austin                                            218
springfield                                       214
albuquerque                                       213
sacramento                                        201
columbus                                          200
london (uk/england)                               189
san jose                                          189
san francisco                                     187
denver                                            185
san antonio                                       175
toronto (canada)                                  172
jacksonville                                      172
myrtle beach                                      166
dallas                                            160
salem                                             154
charlotte                                         148
columbia                                          147
new york city (brooklyn)                          147
arlington                                         142
                                                 ...
carmen                                              1
san francisco (ocean side of)                       1
east longmeadow                                     1
rotonda west                                        1
navoi (uzbekistan)                                  1
northern alberta (canada)                           1
mahi mahiu (kenya)                                  1
grants pass (just outside merlin)                   1
basking ridge                                       1
brainard (6 mi. e of; on hwy. 92)                   1
glenoma                                             1
glass rock                                          1
surry nuclear facility (surry county)               1
lake nockamixon                                     1
mammoth cave national park                          1
staufen (germany)                                   1
startup                                             1
monroe city                                         1
st. charles (1.5 mi north of&#44 randall road)      1
ponca city (south of)                               1
nanoose bay (canada)                                1
marcy                                               1
mumbai                                              1
chestnutridge                                       1
kimberly (st. mary&#39s lake) (canada)              1
carmine                                             1
haslet                                              1
waynesburg (north of)                               1
webberville                                         1
pullmam                                             1
Name: city, Length: 19900, dtype: int64

In [3]:
#Value Count of States
df.state.value_counts()

ca    9655
wa    4268
fl    4200
tx    3677
ny    3219
az    2689
il    2645
pa    2582
oh    2425
mi    2071
nc    1869
or    1845
on    1584
mo    1576
nj    1512
co    1505
va    1393
in    1386
ma    1358
ga    1347
wi    1333
tn    1193
mn    1081
sc    1076
ct     968
ky     914
md     911
nv     905
nm     815
bc     788
      ...
la     598
id     554
nh     535
mt     510
wv     486
ms     415
ne     405
ak     354
hi     353
ab     333
vt     307
ri     290
wy     205
sd     196
de     183
qc     178
mb     155
ns     143
nd     138
nb     116
dc      99
sk      98
pq      90
pr      33
sa      30
nf      25
nt      20
pe      17
yt      13
yk       7
Name: state, Length: 67, dtype: int64

In [4]:
#Value Count of Shape
df["shape"].value_counts()

light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
flare            1
hexagon          1
dome             1
changed          1
pyramid          1
Name: shape, dtype: int64

In [5]:
#Value Count of Country
df.country.value_counts()

us    65114
ca     3000
gb     1905
au      538
de      105
Name: country, dtype: int64

In [6]:
#Stats of Duration
np.mean(df['duration (seconds)'])

TypeError: can only concatenate str (not "float") to str

In [7]:
print(df.dtypes)

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude               float64
dtype: object

In [8]:
df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [9]:
df["duration (seconds)"].iloc[0]

'2700'

In [11]:
df["secs"] = [np.float(x) for x in df["duration (seconds)"]]

ValueError: could not convert string to float: '2`'

In [13]:
df.isnull().sum()

datetime                   0
city                       0
state                   5797
country                 9670
shape                   1932
duration (seconds)         0
duration (hours/min)       0
comments                  15
date posted                0
latitude                   0
longitude                  0
dtype: int64

In [16]:
import re
df["secs"] = [re.findall(r'-?\d+\.?\d*', lst) for lst in df["duration (seconds)"]]

TypeError: expected string or bytes-like object

In [17]:
re.findall('\d+', df["duration (seconds)"].iloc[0] )

['2700']

In [20]:
np.float((re.findall('\d+', df['duration (seconds)'].iloc[0] ))[0])

2700.0

In [25]:
df['secs'] = [np.float(re.findall('\d+', j )[0]) for j in df["duration (seconds)"]]

TypeError: expected string or bytes-like object

In [32]:
list1 = []
for j in df['duration (seconds)']:
    list1.append(np.int(re.findall('\d+', j )[0]))

TypeError: expected string or bytes-like object